
{% extends "base.html" %}
{% block title %} Online Portfolio Maker{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/style.css"/>
<style>
  .disable{
    opacity: 0.3;
  }
  .not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }
  .modal-content iframe{
    margin: 0 auto;
    display: block;
  }
</style>
  {% endblock %}

  {% block content %}
  <div class="container-fluid start">
      <div class="row">
        <div class="col-sm-6" style="padding: 50px;" >
          <div style="margin-top:100px;">
            <h1>Build Your Portfolio With CodeScript</h1>
          </div>
          <div style="margin-top:50px;">
         <a href="#theame"> <button style="width: 150px; border: 2px solid; margin-top:5px;" class="btn">Get Started</button></a>
          <button data-target="#myModal" data-toggle="modal" style="width: 150px; border: 2px solid; margin-left:50px; margin-top:5px;" class="btn"><i class="fa fa-play-circle" aria-hidden="true"></i> Watch Video </button>
          </div>
          
        </div>
        <div class="col-sm-6 start-image d-none d-lg-block" style="padding: 50px;">
          <img class="hero-image" src="/static/Image/hero.png" alt="Hero" width="500" alt="Hero">
        </div>
      </div>
  </div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Portfolio Guide </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <iframe width="450" height="315" src="https://www.youtube.com/embed/HMUmI9kfSDc" frameborder="0" 
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  


  </div>
      <div class="container" id="theame">
          <h1 style="text-align: center; margin-top:50px;">Our Themes</h1>
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6">
                <h3>1. MisMash</h3>
                <div class="card">
                    <img src="/static/Image/mishmash.PNG" alt="MisMash" height="350" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="/demo" class="btn btn-primary">Demo</a>
                      <a href="/details" class="btn btn-primary">Use It</a>
                    </div>
                  </div>

            </div>
            <div class="col-sm-6 disable" >
              <h3>2. CodeScript</h3>
                <div class="card" >
                    <img src="/static/Image/model1.PNG" height="350" alt="Model2" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#" class="btn btn-primary not-active">Demo</a>
                      <a href="#" class="btn btn-primary not-active">Use It</a>
                    </div>
                  </div>

            </div>

        </div>

        <div class="row" style="margin-top: 20px;" >
            <div class="col-sm-6 disable" >
              <h3>3. Mj</h3>
                <div class="card">
                    <img src="/static/Image/model1.PNG" alt="model3" height="350" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#" class="btn btn-primary not-active">Demo</a>
                      <a href="#" class="btn btn-primary not-active">Use It</a>
                    </div>
                  </div>

            </div>
            <div class="col-sm-6 disable" disabled>
              <h3>4. LoveMJ</h3>
                <div class="card">
                    <img src="/static/Image/model1.PNG" alt="Model4" height="350" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#" class="btn btn-primary not-active">Demo</a>
                      <a href="#" class="btn btn-primary not-active">Use It</a>
                    </div>
                  </div>
             </div>

        </div>
      </div>

   <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
	      speed: 700,
        });
    </script>
      {% endblock %}

      {% block footer %}
      
      {% endblock %}